mixin tag_templates_panel (templatesList, isSynchronous)
    .form-group(ng-if="!view.hasSelectedCustomTemplate()")
        .form-group.noselect
            .row.stg-tag-templates
                .col-md-4.col-sm-6.col(
                  ng-repeat="template in #{templatesList}",
                  ng-if="(!view.displayStepsAfterFirst && !view.template.types.length) || view.tag.template === template.id"
                )
                    .stg-tag-template(
                        ng-click="!currentContainer.$container.hasPermission('edit') || view.setTagTemplate(template.id); view.validateTag = false;",
                        ng-class="{'active' : !view.displayStepsAfterFirst && !view.template.types.length || view.tag.template === template.id }",
                        id="tag-template-{{ template.id }}"
                        title="{{ template.name }}"
                    )
                        img(ng-src="{{ template.brandUrl }}", ng-cloak)
    if !isSynchronous
        .form-group(ng-if="!view.tag.template")
            label(translate='or add custom asynchronous tag', class="control-label", ng-if="view.tag.template === null")
            .form-group.noselect
                .row.stg-tag-templates
                    .col-md-4
                        .stg-tag-template.stg-tag-template-btn.stg-custom-tag-template(
                            ng-click="!currentContainer.$container.hasPermission('edit') || view.setTagTemplate(); view.validateTag = false;",
                            ng-class="{'active' : !view.displayStepsAfterFirst && !view.template.types.length || view.tag.template === undefined }"
                        )
                            span(translate='Asynchronous custom HTML tag')
    if isSynchronous
        .form-group(ng-if="!view.tag.template")
            label(translate='or add custom synchronous tag', class="control-label", ng-if="view.tag.template === null")
            .form-group.noselect
                .row.stg-tag-templates
                    .col-md-4
                        .stg-tag-template.stg-tag-template-btn.stg-custom-tag-template(
                            ng-click="!currentContainer.$container.hasPermission('edit') || view.setTagTemplate(); view.validateTag = false;",
                            ng-class="{'active' : !view.displayStepsAfterFirst && !view.template.types.length || view.tag.template === undefined }"
                        )
                            span(translate='Synchronous custom HTML tag')
    div(ng-if="view.template.types.length")
        hr.divider
        .form-group
            .row.stg-tag-templates
                .col-lg-4(ng-repeat="type in view.template.types", id="template-view-{{ $index }}")
                    .stg-tag-template.stg-tag-template-btn(
                        ng-click="!currentContainer.$container.hasPermission('edit') || view.setTemplateType(view.template.id, type.id); view.validateTag = false;",
                        ng-class="{'active' : !view.displayStepsAfterFirst || view.tag.templateOptions.type === type.id }"
                    ) {{ type.name|translate }}
