div(
    id="alert-message-{{ $index }}-{{ alert.type }}",
    ng-repeat="alert in alertCtrl.getAll()",
    style="top: {{ alertTopPosition }}px"
    class="alert alert-{{ alert.type }} alert-top",
    ng-click="alertCtrl.clear()",
)
    .close-btn
        i.icon-cancel
    p {{alert.message}}
    
