include ../../../views/_mixins

- var FORM_NAME = WEBSITES_FORM_NAME;

+form(FORM_NAME)(ng-controller="clearcode.tm.debug.WebsitesController as websitesCtrl", ng-init="websitesCtrl.validateContainer = false")
    .form-group
        +button()#webite-add-button(
            ng-click="websitesCtrl.addContainerWebsite()",
            ng-if="!websitesCtrl.websites || websitesCtrl.websites.length === 0",
            ng-disabled="!currentContainer.$container.hasPermission('edit')",
            translate='Add a website(s)'
        )
    .form-inline.bottom-space(
        ng-repeat="website in websitesCtrl.websites",
        ng-class="{'has-error': #{FORM_NAME}['websiteValue[{{$index}}]'].$invalid && ( #{FORM_NAME}['websiteValue[{{$index}}]'].$dirty || websitesCtrl.validateContainer ) }"
    )
        .row
            .form-group.col-sm-5
                input.form-control(
                    type="url",
                    style="width: 100%"
                    ng-model="website.url",
                    name="websiteValue[{{$index}}]",
                    id="website-form-{{$index}}-input-value",
                    required,
                    ng-disabled="!currentContainer.$container.hasPermission('edit')"
                )
            .form-group
                select.form-control.websites-parameter-type(
                    ng-model="website.parameterType",
                    cc-select,
                    ng-options="parType.id as parType.name for parType in websitesCtrl.parameterTypes"
                    cc-select-options="websitesCtrl.parameterTypes",
                    cc-select-value="value",
                    cc-select-label="name"
                )
            .form-group
                +button()(
                    ng-href="{{ getWebsiteUrlWithParameter(website) }}",
                    target="_blank",
                    id="website-form-{{$index}}-debug-button",
                    ng-disabled="!getWebsiteUrlWithParameter(website)"
                )
                    span(translate='Debug')
            .form-group
                button(
                    class="btn btn-default btn-action",
                    ng-click="websitesCtrl.removeContainerWebsite($index)",
                    id="website-form-{{$index}}-remove-button",
                    ng-if="currentContainer.$container.hasPermission('edit')"
                ) -
            .form-group
                button(
                    class="btn btn-default btn-action",
                    ng-show="$last",
                    ng-click="websitesCtrl.addContainerWebsite()",
                    id="website-form-{{$index}}-add-button"
                    ng-if="currentContainer.$container.hasPermission('edit')"
                ) +
        .row
            .col-lg-8(
                ng-show="#{FORM_NAME}['websiteValue[{{$index}}]'].$invalid && ( #{FORM_NAME}['websiteValue[{{$index}}]'].$dirty || websitesCtrl.validateContainer )"
            )
                p(translate='Valid website address is required').error
    .form-inline
        .form-group
            +field_submit(
                FORM_NAME,
                '{{"Save"|translate}}'
            )#website-form-submit-button(
                ng-click="#{FORM_NAME}.$valid ? websitesCtrl.submitForm(websitesCtrl.container) : websitesCtrl.validateContainer = true",
                ng-disabled="!currentContainer.$container.hasPermission('edit')"
            )
