include ../../../views/_mixins.jade
extends ../../../views/_view-forms.jade

block vars
    - var FORM_TITLE = "{{'Opt-out message generator'|translate}}";
    - var FORM_NAME = 'optOutMessageForm';

block fields
    .row
        .col-lg-8.col-md-12.col-sm-12
            p.alert.alert-synchronous-tag-warning
                | {{ "Embedding the Opt-out snippet in your website’s HTML helps you to respect your visitors' privacy." | translate }}
                | {{ "There are two types of the Opt-out snippet:" | translate }}
                | {{ "Domain - if you assign the “Opt-out” to a domain, it will turn off all tracking tags within that domain." | translate }}
                | {{ "Global - if you choose “global Opt out“,  then it will turn off all tracking tags in all your containers within your current 7tag instance (this will apply to all containers - even those created after generating the opt-out code)." | translate }}
        .col-lg-4
            // Place for help

    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_textarea(
                FORM_NAME,
                "view.optOutMessage",
                "viewMessage",
                "{{'Opt-out message'|translate}}"
            )(
                rows="4"
                class="textarea-with-newlines"
                ng-change="view.generateSnippet()"
            )
        .col-lg-4
            // Place for help
    .row
        .col-lg-8.col-md-12.col-sm-12
            .form-group
                .input-group.opt-out-input-with-checkbox
                    .input-group-addon
                        input.cc-checkbox(type="checkbox" checked disabled)
                    input.form-control(type="text" ng-model="view.optOutOption" ng-change="view.generateSnippet()")

        .col-lg-4
            // Place for help
    .row
        .col-lg-8.col-md-12.col-sm-12
            .form-group
                .input-group.opt-out-input-with-checkbox
                    .input-group-addon
                        input.cc-checkbox(type="checkbox" disabled)
                    input.form-control(type="text" ng-model="view.optInOption" ng-change="view.generateSnippet()")

        .col-lg-4
            // Place for help
    .row
        .col-lg-4.col-md-8.col-sm-12
            .form-group
                label(translate='Opt-out scope', class="control-label")
                cc-help(
                    placement="right",
                    content="{{ 'There are two types of the Opt-out snippet:' | translate }}" + "<br><br>" + "{{'Domain - if you assign the “Opt-out” to a domain, it will turn off all tracking tags within that domain.'|translate}}" + "<br><br>" + "{{'Global - if you choose “global Opt out“,  then it will turn off all tracking tags in all your containers within your current 7tag instance (this will apply to all containers - even those created after generating the opt-out code).'|translate}}"
                )
                select.form-control(
                    ng-model="view.option",
                    cc-select,
                    ng-options="option.value as option.name for option in view.options"
                    cc-select-options="view.options",
                    cc-select-value="value",
                    cc-select-label="name",
                    ng-click="view.generateSnippet()"
                )

        .col-lg-4
            // Place for help
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_textarea(
                FORM_NAME,
                "view.snippet",
                undefined,
                "{{'Generated opt-out snippet'|translate}}"
            )(
                rows="12",
                readonly,
                cc-clipboard
            )