- var EMAIL_FORM_FIELD = 'email';
- var FIRSTNAME_FORM_FIELD = 'firstName';
- var LASTNAME_FORM_FIELD = 'lastName';

- var FORM_NAME = 'createUserForm';
- var FORM_RESOURCE = 'view.userPromise';

+form(
    FORM_NAME
)(stg-form, form-resource="#{FORM_RESOURCE}")
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_email(
                FORM_NAME,
                "view.user.email",
                EMAIL_FORM_FIELD,
                "{{'Email'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateUser"
            )#user-form-email(
                ng-required="true",
                ng-disabled="{{ $state.includes('userEdit') || $state.includes('editProfile') }}"
            )
        .col-lg-4
            // Place for help

    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.user.firstName",
                FIRSTNAME_FORM_FIELD,
                "{{'First name'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateUser"
            )#user-form-firstName(
                ng-required="true"
            )
        .col-lg-4
            // Place for help

    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.user.lastName",
                LASTNAME_FORM_FIELD,
                "{{'Last name'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateUser"
            )#user-form-lastName(
                ng-required="true"
            )
        .col-lg-4
            // Place for help
    .row(ng-if="view.displayRoleSectionForUser()")
        .col-lg-8.col-md-12.col-sm-12
            .form-group
                label(translate='Roles', class="control-label")
                .form-group
                    +field_radio(
                        FORM_NAME,
                        "view.role",
                        "{{'Admin'|translate}}",
                        'ROLE_SUPER_ADMIN'
                    )
                    +field_radio(
                        FORM_NAME,
                        "view.role",
                        "{{'User'|translate}}",
                        'ROLE_USER'
                    )
        .col-lg-4
            // Place for help

        .col-lg-8.col-md-12.col-sm-12(ng-show="view.role === 'ROLE_USER'")
            .form-group.cc-checkbox-margined
                input(
                    type="checkbox",
                    cc-checkbox,
                    ng-model="view.createContainerRole",
                    ng-click="view.setRole('ROLE_CONTAINERS_CREATE')"
                    name="rolesCreateContainer",
                    id="user-permission-create-container"
                )
                label(translate='Create container', class="control-label")

    .row(ng-if="$state.includes('userCreate')")
        .col-lg-8.col-md-12.col-sm-12
            .form-group
                label(translate='Activation', class="control-label")
                .form-group
                    +field_radio(
                        FORM_NAME,
                        "view.activation",
                        "{{'Send an email with the activation link'|translate}}",
                        'ACTIVATION_EMAIL'
                    )
                    +field_radio(
                        FORM_NAME,
                        "view.activation",
                        "{{'Set user\\'s password'|translate}}",
                        'ACTIVATION_SET_PASSWORD'
                    )

    .row(ng-show="view.displayPasswordSection()")
        .col-lg-8.col-md-12.col-sm-12
            div(ng-class="{'stg-form-subform' : $state.includes('userCreate')}")
                +field_password(
                    FORM_NAME,
                    "view.password.first",
                    "first",
                    "{{'Password'|translate}}" + " <span ng-if=\"($state.includes('userCreate'))\" class=\"important\">*</span>",
                    "view.validateUser"
                )#user-form-password
                +field_password(
                    FORM_NAME,
                    "view.password.second",
                    "second",
                    "{{'Repeat password'|translate}}" + " <span ng-if=\"($state.includes('userCreate'))\" class=\"important\">*</span>",
                    "view.validateUser"
                )#user-form-confirm-password(
                    ng-match="view.password.first"
                )
        .col-lg-4
            // Place for help