include ../../../views/_mixins.jade

- var CHANGE_PASSWORD_FORM_NAME = 'changePasswordForm';
- var CHANGE_PASSWORD_FORM_RESOURCE = 'changePassword.changePasswordPromise';

+form(
    CHANGE_PASSWORD_FORM_NAME
)(stg-form, form-resource="#{CHANGE_PASSWORD_FORM_RESOURCE}")
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_password(
                CHANGE_PASSWORD_FORM_NAME,
                "changePassword.currentPassword",
                "current_password",
                "{{'Current password'|translate}}" + " <span class=\"important\">*</span>",
                "changePassword.validationForce"
            )#profile-edit-current-pass(
                ng-required="true"
            )
        .col-lg-4
            // Place for help
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_password(
                CHANGE_PASSWORD_FORM_NAME,
                "changePassword.new.first",
                "first",
                "{{'New password'|translate}}" + " <span class=\"important\">*</span>",
                "changePassword.validationForce"
            )#profile-edit-new-password(
                ng-required="true"
            )
        .col-lg-4
            // Place for help
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_password(
                CHANGE_PASSWORD_FORM_NAME,
                "changePassword.new.second",
                "second",
                "{{'Repeat new password'|translate}}" + " <span class=\"important\">*</span>",
                "changePassword.validationForce"
            )#profile-edit-confirm-new-password(
                ng-required="true",
                ng-match="changePassword.new.first"
            )
        .col-lg-4
            // Place for help
