include ../../../views/_mixins.jade

- var LOADING_PROMISE = 'view.userPromise';
- var FORM_TITLE = '{{"Edit user"|translate}}';
- var FORM_NAME = 'editUserForm';
- var FORM_RESOURCE = 'view.userPromise';

.row
    cc-breadcrumb
.row
    .panel.panel-default(cg-busy="{promise: #{LOADING_PROMISE}, templateUrl: \"app/views/loader.html\"}")
        .panel-body
            h4.form-heading(ng-hide="view.success")
                | !{FORM_TITLE}

            include _form.jade

            hr.divider
            .form-group
                +field_submit(
                    FORM_NAME,
                    "{{'Save'|translate}}"
                )(
                    ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.user) : view.validateUser = true",
                    ng-disabled="view.showListUsersForm === true"
                )#user-form-submit-button
