include ../../../views/_mixins.jade

- var OTHERS_SETTINGS_FORM_NAME = 'othersSettingsForm';
- var OTHERS_SETTINGS_FORM_RESOURCE = 'othersSettings.othersSettingsPromise';

+form(
    OTHERS_SETTINGS_FORM_NAME
)(stg-form, form-resource="#{OTHERS_SETTINGS_FORM_RESOURCE}")
    .row
        .col-lg-4.col-md-12.col-sm-12
            .form-group
                label(translate='Language', class="control-label")
                select.form-control(
                    ng-model="view.user.language",
                    cc-select,
                    ng-options="translation.id as translation.name | translate for translation in othersSettings.languages"
                    cc-select-options="othersSettings.languages",
                    cc-select-value="id",
                    cc-select-label="name"
                )

        .col-lg-4
            // Place for help
