include ../../../views/_mixins.jade

- var LOADING_PROMISE = 'view.profilePromise';
- var FORM_TITLE = '{{"Your profile"|translate}}';

- var CHANGE_PASSWORD_FORM_NAME = 'changePasswordForm';
- var ADDRESS_SETTINGS_FORM_NAME = 'othersSettingsForm';

- var FORM_RESOURCE = 'view.editPromise';

- var FORM_NAME = 'editProfile';


.row
    cc-breadcrumb
.row
    ul.nav.nav-tabs(ng-init="view.activeTab = 'general'")
        li(ng-class="{active: view.activeTab === 'general'}")
            a#profile-general(translate='Your profile', ng-click="view.activeTab = 'general'")
        li(ng-class="{active: view.activeTab === 'othersSettings'}")
            a#profile-address-settings(ng-click="view.activeTab = 'othersSettings'", translate="Other settings")
        li(ng-class="{active: view.activeTab === 'changePassword'}")
            a#profile-change-password(translate='Change Password', ng-click="view.activeTab = 'changePassword'")
    .tab-content
        div(ng-switch='view.activeTab')
            .tab-pane.panel.panel-default(cg-busy="{promise: #{LOADING_PROMISE}, templateUrl: \"app/views/loader.html\"}" ng-switch-when='general')
                .panel-body
                    cc-notification-form
                    
                    include _form.jade

                    hr.divider
                    .form-group
                        +field_submit(
                            FORM_NAME,
                            '{{"Save"|translate}}'
                        )(
                            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.user) : view.displayInvalidFormMessage()"
                        )#tag-form-submit-button
            .tab-pane.panel.panel-default(ng-switch-when='othersSettings')
                .panel-body(ng-controller="clearcode.tm.user.OthersSettingsController as othersSettings")
                    cc-notification-form

                    include othersSettings.jade

                    hr.divider
                    .form-group
                        +field_submit(
                            ADDRESS_SETTINGS_FORM_NAME,
                            "{{'Save'|translate}}"
                        )(
                            ng-click="#{ADDRESS_SETTINGS_FORM_NAME}.$valid ? othersSettings.submitForm(view.user) : false "
                        )#address-settings-form-submit-button
            .tab-pane.panel.panel-default(ng-switch-when='changePassword')
                .panel-body(ng-controller="clearcode.tm.user.ChangePasswordController as changePassword")
                    cc-notification-form

                    include changePassword.jade

                    hr.divider
                    .form-group
                        +field_submit(
                            CHANGE_PASSWORD_FORM_NAME,
                            "{{'Save'|translate}}"
                        )#container-form-submit-button(
                            ng-click="(#{CHANGE_PASSWORD_FORM_NAME}.$valid && changePassword.new.first === changePassword.new.second) ? changePassword.submitForm(changePassword.currentPassword, changePassword.new, editProfileForm) : changePassword.displayInvalidFormMessage(changePassword.new)"
                        )
