include ../../../views/_mixins.jade
extends ../../../views/_view-forms.jade

block vars
    - var LOADING_PROMISE = 'view.containerPromise';
    - var FORM_TITLE = "{{'Reset password'|translate}}";
    - var FORM_NAME = 'resetPasswordForm';
    - var FORM_RESOURCE = 'view.changePasswordPromise';

block fields

    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_password(
                FORM_NAME,
                "view.new.first",
                "first",
                "{{'New password'|translate}}" + " <span class=\"important\">*</span>",
                "view.validationForce"
            )#reset-field-new-password(
                ng-required="true",
                ng-minlength="8"
            )
        .col-lg-4
            // Place for help

    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_password(
                FORM_NAME,
                "view.new.second",
                "second",
                "{{'Repeat new password'|translate}}" + " <span class=\"important\">*</span>",
                "view.validationForce"
            )#reset-field-confirm(
                ng-required="true",
                ng-minlength="8"
            )
        .col-lg-4
            // Place for help

block actions
    .form-group
        +field_submit(
            FORM_NAME,
            "{{'Save'|translate}}"
        )#container-form-submit-button(
            ng-click="(#{FORM_NAME}.$valid && view.new.first === view.new.second) ? view.submitForm(view.new) : view.displayInvalidFormMessage(view.new)"
        )
