doctype html
html(lang=getLocale(), ng-app="application")
    head
        meta(charset="utf-8")
        title 7tag debugger
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")

        link(href="##host##/styles.css", rel="stylesheet", type="text/css")
        link(href="##host##/icons.css", rel="stylesheet", type="text/css")
    body

        include widgets/navbar/_navbar.html
        include widgets/tabs/_tabs.html

        div(ui-view, style="clear:both") 
        
        include widgets/breakpoints/_breakpoints.html

        block content
        block scripts

        script(type="text/ng-template", id="ccHelp.html")
            i.help-tooltip
                img(
                    tooltip-placement="{{ placement }}"
                    tooltip-html-unsafe="{{ content }}"
                    ng-init="active = false; icon = 'circle'"
                    ng-mouseenter="active = true; icon = 'fill'"
                    ng-mouseleave="active = false; icon = 'circle'"
                    ng-src="##host##/design/icons/info-{{ icon }}.svg"
                    tooltip-class="help-tooltip-wrapper"
                    class="help-icon"
                )

        script(src="##host##/vendor.js")
        script(src="##host##/scripts.js")
        script(src="##host##/templates.cache.js")
