include ../../../views/_mixins.jade

block vars
    - var LOADING_PROMISE = 'view.containerPromise';
    - var FORM_TITLE = 'Edit options';
    - var FORM_NAME = 'editContainerForm';

.row(ng-init="view.validateContainer = false")
    .col-lg-8.col-md-12.col-sm-12
        +field_text(
            FORM_NAME,
            "view.container.name",
            "viewContainerName",
            "{{'Container name'|translate}}" + " <span class=\"important\">*</span>",
            "view.validateContainer"
        )#container-form-name(
            ng-required="true",
            placeholder= "{{'Place your container\\'s name'|translate}}",
            ng-disabled="!currentContainer.$container.hasPermission('edit')"
        )
    .col-lg-4
        // Place for help

.row
    .col-lg-8.col-md-12.col-sm-12
        +field_textarea(
            FORM_NAME,
            "view.container.code",
            "viewContainerCode",
            "{{'Container code for asynchronous tags'|translate}}",
            "view.validateContainer",
            "{{'Container code is a snippet which helps you to fire all your tags on your website. Paste the Container code into your website’s code (in between the &lt;body&gt; &lt;&#47;body&gt; element of all your pages). We recommend you embed the code right under the <body> element.'|translate}}"
        )(
            rows="10",
            readonly,
            cc-clipboard
        )
    .col-lg-4
        // Place for help
.row
    .col-lg-8.col-md-12.col-sm-12
        +field_textarea(
            FORM_NAME,
            "view.container.codeSynchronous",
            "viewContainerCode",
            "{{'Container code for synchronous tags'|translate}}",
            "view.validateContainer",
            "{{'Container code is a snippet which helps you to fire all your tags on your website. Paste the Container code into your website’s code (in between the &lt;head&gt; &lt;&#47;head&gt; element of all your pages). Please notice embed the code under the <body> element may causes performance problems.'|translate}}"
        )(
            rows="3",
            readonly,
            cc-clipboard
        )
    .col-lg-4
        // Place for help
.row
    .col-lg-8.col-md-12.col-sm-12
        +field_number_unit(
            FORM_NAME,
            "view.container.delay",
            "delay",
            '{{"Delay"|translate}}',
            "view.validateContainer",
            '{{"Property is used to slow down actions (e.g. redirect) when waiting for tags to be resolved."|translate}}',
            'ms'
        )#container-form-delay(
            aria-describedby="delay-unit"
            ng-required="true",
            min=0,
            max=10000,
            placeholder= "{{'Set delay'|translate}}",
            ng-disabled="!currentContainer.$container.hasPermission('edit')"
        )
    .col-lg-4

.form-inline(ng-if="currentContainer.$container.hasPermission('edit')")
    .form-group
        +field_submit(
            FORM_NAME,
            '{{"Save"|translate}}'
        )#container-form-submit-button(
            ng-click="#{FORM_NAME}.$valid ? view.submitForm(view.container) : view.validateContainer = true"
        )
    .form-group
        +button('link').confirm-standalone(
            cc-confirm="view.removeContainer()"
        )#container-form-delete-button
            i.icon-delete
            span(translate='Delete')
