include ../../../views/_mixins

div(ng-controller="clearcode.tm.tagContainer.PermissionsController as permissionsCtrl")
    .alert.alert-info.alert-empty(ng-if="!permissionsCtrl.usersTable.settings().$loading && permissionsCtrl.usersTable.total() === 0")
        h2.text-center
            strong(translate="Your list is empty")
        p.text-center
            span(translate="Currently, you are the only user in application.")
    table.table-condensed.stg-table.table-blocks.container-permissions(
        ng-table="permissionsCtrl.usersTable",
        template-header="permission-list-st-header.html",
        template-pagination="st-pagination.html",
        ng-hide="!permissionsCtrl.usersTable.settings().$loading && permissionsCtrl.usersTable.total() === 0"
    )
        tr(id="user-{{ item.user.id }}-row" ng-repeat="item in $data")
            td.col-xs-2.col-md-3.col-lg-4.text-ellipsis
                span(title="{{ item.user.first_name + ' ' + item.user.last_name }}") {{ item.user.first_name + ' ' + item.user.last_name | limitTo : 60 }}{{ item.user.first_name.length + item.user.last_name.length > 59 ? '...' : '' }}
            td.col-xs-2
                input(
                    type="radio",
                    id="user-{{ item.user.id }}-radio-no-access",
                    name="user_{{ item.user.id }}",
                    cc-radio,
                    cc-radio-model="item.permissions",
                    value="noaccess",
                    ng-click="permissionsCtrl.isValid(item, 'noaccess') ? permissionsCtrl.setPermission(item, 'noaccess') : ''",
                    cc-disabled="item.user.roles.indexOf('ROLE_SUPER_ADMIN') !== -1"
                )
            td.col-xs-1-5
                input(
                    type="radio",
                    id="user-{{ item.user.id }}-radio-view",
                    name="user_{{ item.user.id }}",
                    cc-radio,
                    cc-radio-model="item.permissions",
                    value="view",
                    ng-click="permissionsCtrl.isValid(item, 'view') ? permissionsCtrl.setPermission(item, 'view') : ''",
                    cc-disabled="item.user.roles.indexOf('ROLE_SUPER_ADMIN') !== -1"
                )
            td.col-xs-1-5
                input(
                    type="radio",
                    id="user-{{ item.user.id }}-radio-edit",
                    name="user_{{ item.user.id }}",
                    cc-radio,
                    cc-radio-model="item.permissions",
                    value="edit",
                    ng-click="permissionsCtrl.isValid(item, 'edit') ? permissionsCtrl.setPermission(item, 'edit') : ''",
                    cc-disabled="item.user.roles.indexOf('ROLE_SUPER_ADMIN') !== -1"
                )
            td.col-xs-1-5
                input(
                    type="radio",
                    id="user-{{ item.user.id }}-radio-publish",
                    name="user_{{ item.user.id }}",
                    cc-radio,
                    cc-radio-model="item.permissions",
                    value="publish"
                    ng-click="permissionsCtrl.isValid(item, 'publish') ? permissionsCtrl.setPermission(item, 'publish') : ''",
                    cc-disabled="item.user.roles.indexOf('ROLE_SUPER_ADMIN') !== -1"
                )
            td.col-xs-1-5
                input(
                    type="radio",
                    id="user-{{ item.user.id }}-radio-owner",
                    name="user_{{ item.user.id }}",
                    cc-radio,
                    cc-radio-model="item.permissions",
                    value="operator"
                    ng-click="permissionsCtrl.isValid(item, 'operator') ? permissionsCtrl.setPermission(item, 'operator') : ''",
                    cc-disabled="item.user.roles.indexOf('ROLE_SUPER_ADMIN') !== -1"
                )
