{% extends "base.html.twig" %}

{% block title %}Installer - database configuration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if error %}
                <div class="stg-notification stg-notification-danger center-block">
                    Something going wrong with connection to your server!
                    Please verify your user name and password!
                </div>
                {% endif %}

                {{ form_start(form, {'attr': {'id': 'install_database_configuration','novalidate': 'novalidate'}}) }}
                <div class="stg-installer center-block">
                    <h4>Database configuration</h4>

                        {{ form_errors(form) }}

                        {{ form_row(form.hostname) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.createDatabase) }}

                        <button class="btn btn-success" type="submit">Continue</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
