- var NAME_FORM_FIELD = 'name';


p.alert.alert-synchronous-tag-warning(ng-if="triggerForm.trigger.isAddedToSynchronousTag")
  | {{"This trigger is linked to at least one synchronous tag. To change trigger type, unlink the trigger from synchronous tags."|translate}}

.stepper-step
    .stepper-index
        span 1
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                TRIGGER_FORM_NAME,
                "triggerForm.trigger.name",
                NAME_FORM_FIELD,
                "{{'Trigger name'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateTriggers"
            )#trigger-form-name(
                ng-required="true",
                placeholder="{{'Name your trigger'|translate}}",
                ng-init="view.conditionLength = 0",
                ng-disabled="!currentContainer.$container.hasPermission('edit')"
            )
        .col-lg-4
            // Place for help
.stepper-step(ng-if="triggerForm.showFormForSynchronousTrigger()")
    .stepper-index
        span 2
    .form-group
        label.control-label
            span(translate="Page view conditions")
            cc-help(
                placement="right"
                content="{{'Synchronous tags are compatible only with triggers of \"Page view\" type. You are not able to choose firing synchronous tags on \"Click\", \"Sending form\" or \"Event\".'|translate}}",
            )
        include ../../condition/views/create.jade
.stepper-step(ng-if="!triggerForm.showFormForSynchronousTrigger()")
    .stepper-index
        span 2
    .form-group
        .row
            .col-md-12
                label(translate="Loads on").control-label
                cc-help(
                    placement="right"
                    content="{{'Choose or create a new trigger(s) to specify how and when you want to fire the tag.'|translate}}" + '<br />' +
                    "{{'- Page view - fire the tag when the page loads according to the set conditions.'|translate}}" + '<br />' +
                    "{{'- Click - fire the tag when a user clicks on a page according to the set conditions.'|translate}}" + '<br />' +
                    "{{'- Event - fire the tag on a specific event(s) according to the set conditions.'|translate}}" + '<br />' +
                    "{{'- Form submission - fire the tag when a user submits a form according to the set conditions.'|translate}}"
                )
        .row
            .col-md-12
                .btn-group(role="group")
                    a.btn.btn-default(
                        id="trigger-form-{{$index}}-type"
                        ng-repeat="type in triggerForm.typesArray"
                        ng-class="{'active' : triggerForm.trigger.type === $index}"
                        ng-click="currentContainer.$container.hasPermission('edit') ? triggerForm.setType($index) : ''; view.validateTriggers = false;"
                        ng-disabled="!currentContainer.$container.hasPermission('edit')"
                    ) {{ type|translate }}
    .form-group(ng-if="triggerForm.trigger.type === 0")
        .row
            .col-md-12
                label(translate="On state").control-label
                cc-help(
                    placement="right"
                    content="{{'Choose the precise moment when the tag should be fired. Available options:'|translate}}" + '<br />' +
                    "{{'- DOM ready - when the HTML document was parsed.'|translate}}" + '<br />' +
                    "{{'- Page load - when all resources (e.g. images) are downloaded.'|translate}}" + '<br />' +
                    "{{'- Page view - when the container is ready to handle all tags.'|translate}}" + '<br />' +
                    "{{'This feature is transparent for synchronous tags.'|translate}}"
                )
        .row
            .col-md-4
                select.form-control(
                    ng-model="triggerForm.trigger.subtype",
                    id="trigger-form-page-view-type",
                    cc-select,
                    ng-options="state.id as state.name for state in pageViewTriggerTypes",
                    cc-select-options="triggerForm.pageViewTriggerTypes",
                    cc-select-value="value",
                    cc-select-label="name"
                )
.stepper-step(ng-if="!triggerForm.showFormForSynchronousTrigger()")
    .stepper-index
        span 3
    .form-group
        label.control-label
            span(translate="Conditions")
            cc-help(
                placement="right"
                content="{{'Add a condition(s) for firing your tag(s). You can add extra rules like firing on certain pages, clicking on a defined element, and many more.'|translate}}",
            )
        include ../../condition/views/create.jade
