include ../../../views/_mixins
- var ENTITY_NAME = "Existing Trigger"

.form.form-substep
    table.table.table-condensed.existing-triggers(
        ng-table="view.existingTable",
        template-pagination="st-pagination.html",
        template-header="st-header.html"
    )
        tr(id="trigger-existing-{{ trigger.id }}-row" ng-repeat="trigger in $data track by trigger.id")
            td.existing-triggers-col1(data-title="''")
                input(
                    type="checkbox",
                    cc-checkbox,
                    name="trigger_{{ trigger.id }}",
                    checklist-model="view.chosenTriggers",
                    checklist-value="trigger",
                    id="trigger-existing-{{ trigger.id }}-checkbox"
                )
            td.existing-triggers-col2(data-title="'Name'")
                span(title="{{ trigger.name }}") {{ trigger.name | limitTo : 30 }}{{trigger.name.length > 30 ? '...' : ''}}
            td.existing-triggers-col3(data-title="'Type'")
                | {{ view.types[trigger.type]|translate }}
    .alert.alert-empty.ng-hide(ng-show="!view.existingTable.settings().$loading && view.existingTable.total() === 0")
        h2.text-center
            strong(translate="Your list is empty")
        p(translate="To add a new item click the button below.").text-center
        p.text-center.action
            +button('primary')#trigger-create-new-trigger-button(ng-click="view.showTriggerForm = true; view.showListTriggersForm = false; view.validateTriggers = false;")
                spam.plus +
                strong(translate="Add a new trigger")
        p.text-center.cancel
            +button('link')#trigger-cancel-trigger-button(ng-click="view.showListTriggersForm = false; view.validateTriggers = false;" style="padding: 7px 32px;", translate="Cancel")
    .form-group(ng-if="!view.existingTable.settings().$loading && view.existingTable.total() !== 0")
        +button('primary')(id="trigger-existing-add-button" ng-click="view.addExistingTriggers(); view.showListTriggersForm = false;", translate="Add")
        +button()(id="trigger-existing-cancel-button" ng-click="view.showListTriggersForm = false; view.chosenTriggers = [];", translate="Cancel")
