include ../../../views/_mixins

extends ../../../views/_view-list.jade

block vars
    - var ENTITY_NAME = 'Trigger';

block header
    i.icon-trigger
    strong(translate="Triggers")
    cc-help(
        placement="right"
        content="" + "{{'A Trigger specifies how and when the tag should fire.'|translate}}" + '<br />' +
        "{{'One trigger can be assigned to many tags.'|translate}}"
    )

block actions
    +button('primary')#tag-list-create-link(
        href,
        ui-sref="triggerCreate({containerId: activeContainerId})",
        class="stg-link-btn",
        ng-if="currentContainer.$container.hasPermission('edit')"
    )
        span.plus +
        strong(translate="Add a trigger")

block content
    - var TRIGGER_ID = 'trigger-list';

    +table('view.tableParams', TRIGGER_ID, TRIGGER_ID + '-st-header.html')
        tbody
            tr(
                ng-repeat="trigger in $data",
                id="#{TRIGGER_ID}-row-{{ trigger.id }}",
                ng-init="showMenu = false"
            )
                td.col-md-4(
                    sortable="name",
                    id="#{TRIGGER_ID}-row-{{ trigger.id }}-name"
                )
                    a(
                        href="",
                        ui-sref="triggerEdit({ containerId: activeContainerId, triggerId: trigger.id})",
                        title="{{ trigger.name }}"
                    ) {{ trigger.name | limitTo : 30 }}{{trigger.name.length > 30 ? '...' : ''}}
                td.col-md-2(
                    sortable="type"
                    id="#{TRIGGER_ID}-row-{{ trigger.id }}-type"
                ) {{ view.typesArray[trigger.type]|translate }}
                td.col-md-2(
                    sortable="tags_count",
                    id="#{TRIGGER_ID}-row-{{ trigger.id }}-tags-count"
                ) {{ trigger.tagsCount }}
                td.col-md-3(
                    sortable="updated_at",
                    id="#{TRIGGER_ID}-row-{{ trigger.id }}-last-edit"
                ) {{ trigger.updatedAt | tmDate }}
                td.col-md-1.actions.context-menu-actions(
                    id="#{TRIGGER_ID}-row-{{ trigger.id }}-action",
                    ng-class="{active: showMenu, 'disabled': !currentContainer.$container.hasPermission('edit')}"
                )
                    ul.list-inline(ng-if="showMenu")
                        li
                            a(
                            href="",
                            ui-sref="triggerEdit({containerId: activeContainerId, triggerId: trigger.id})",
                            id="#{TRIGGER_ID}-row-{{ trigger.id }}-edit"
                            )
                                i.icon-edit
                                span(translate="Edit")
                        li
                            a(
                            href="",
                            cc-confirm="view.removeTrigger(trigger)",
                            id="#{TRIGGER_ID}-row-{{ trigger.id }}-delete"
                            )
                                i.icon-delete
                                span(translate="Delete")
                    a.dots(
                        href="",
                        ng-click="currentContainer.$container.hasPermission('edit') ? showMenu = !showMenu : ''"
                    )
                        i.icon-dots(ng-if="currentContainer.$container.hasPermission('edit')")
