<!-- Google Code for Test AdWords Conversion Page -->
<script type="text/javascript">
    {% set remarketing = remarketingOnly is empty ? 0 : 1 %}
    /* <![CDATA[ */
    var google_conversion_id = {{ conversionId|raw }};
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = {{ conversionLabel|variable|raw }};
    var google_remarketing_only = {{ remarketing }};
    {% if conversionValue is defined and conversionValue is not empty %}
    var google_conversion_value = {{ conversionValue|variable|raw }};
    {% endif %}
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
        <div style="display:inline;">
        {% if remarketing %}
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{ conversionId|raw }}/?value=0&amp;guid=ON&amp;script=0{% if conversionLabel|raw is not empty %}&amp;label={{ conversionLabel|raw }}{% endif %}"/>
        {% else %}
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/{{ conversionId|raw }}/?guid=ON&amp;script=0{% if conversionLabel|raw is not empty %}&amp;label={{ conversionLabel|raw }}{% endif %}"/>
        {% endif %}
        </div>
</noscript>