- var ID_FORM_FIELD = 'id';
- var NAME_FORM_FIELD = 'name';
- var USER_EMAIL_FORM_FIELD = 'email';
- var SECRET_FORM_FIELD = 'secret';

- var FORM_NAME = 'createIntegrationForm';
- var FORM_RESOURCE = 'view.integrationPromise';

+form(
    FORM_NAME
)(stg-form, form-resource="#{FORM_RESOURCE}")
    .row
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.integration.name",
                NAME_FORM_FIELD,
                "{{'Name'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateIntegration"
            )#integration-form-name(
                ng-required="true"
            )
        .col-lg-4
            // Place for help
    .row()
        .col-lg-8.col-md-12.col-sm-12
            +field_email(
                FORM_NAME,
                "view.integration.user.email",
                USER_EMAIL_FORM_FIELD,
                "{{'Email'|translate}}" + " <span class=\"important\">*</span>",
                "view.validateIntegration"
            )#integration-form-user-email(
                ng-required="true",
                ng-disabled="!$state.includes('integrationCreate')"
            )
        .col-lg-4
            // Place for help
    .row(ng-if="$state.includes('integrationEdit')")
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.integration.clientId",
                ID_FORM_FIELD,
                "{{'Client ID'|translate}}",
                "view.validateIntegration"
            )#integration-form-client-id(
                disabled="true"
            )
        .col-lg-4
            // Place for help
    .row(ng-if="$state.includes('integrationEdit')")
        .col-lg-8.col-md-12.col-sm-12
            +field_text(
                FORM_NAME,
                "view.integration.clientSecret",
                SECRET_FORM_FIELD,
                "{{'Client SECRET'|translate}}",
                "view.validateIntegration"
            )#integration-form-client-secret(
                disabled="true"
            )
        .col-lg-4
            // Place for help
